
/* COMMON  */
.outer {
    display: flex;
    width: 100%;
    height: 100%;
}

.inner {
    width: auto;
    margin: auto;
    padding: 30px;
    text-align: center;
}


/* FORM PAGE */

.form-group{
	text-align: left;
}


/* QR CODE PAGE */

#qr {
	width: 350px;
	height: 350px;
}

.inner table td {
	text-align: center;
}

/* LOGS PAGE */

.logs table {
	margin-top: 15px;
}

.logs input {
	margin-left: 20px;
}

.logs button {
	margin-left: 20px;
}








.btn-group {
	width: 100%;
}