<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/game-style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<title>Document</title>
</head>

<body>
	<div class="container">
		<div class="wrapper">
			<div class="info">
				<div class="userAnswer">
					<div class="user">
						<p class="username">user1</p>
						<p class="score">
							Score: <br />
							78
						</p>
					</div>
					<p id="answerUser1">Отвечает</p>
				</div>

				<div class="timer" name="'timer" id="timer">0</div>

				<div class="userAnswer">
					<div class="user">
						<p class="username">user2</p>
						<p class="score">
							Score: <br />
							78
						</p>
					</div>
					<p id="answerUser2">Отвечает</p>
				</div>
			</div>

			<form class="quiz-interface" action="">
				<div class="question-number">
					<p>Вопрос номер</p>
				</div>
				<div class="question-block">
					<div class="question-sub-block">
						<p class="question">
							шло 2 ежа, сколько? Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Deleniti autem
							minima aliquam sunt aut soluta consequatur non.
							Repellat culpa eligendi ea quo, reiciendis
							necessitatibus, similique rerum, laborum
							sapiente dicta quasi!
						</p>
					</div>
				</div>
				<div class="answers">
					<div class="answersGroup">
						<input class="answer-no" type="button" value="Ответ 1" />
						<input class="answer-no" type="button" value="Ответ 1" />
					</div>
					<div class="answersGroup">
						<input class="answer-no" type="button" value="Ответ 1" />
						<input class="answer-no" type="button" value="Ответ 1" />
					</div>
				</div>

			</form>
		</div>
	</div>

	<script>
		let timer_answer = 1

		function startTime() {
			document.getElementById("timer").innerHTML = 10;
		}
		startTime();

		async function buttonsBlock() {
			let buttons = $('.answer-active')
			for (let i = 0; i < buttons.length; i++) {
				buttons[i].className = 'answer-no'
				buttons[i].setAttribute('type', 'button')
			}
		}

		async function buttonsActive() {
			let buttons = $('.answer-no')
			for (let i = 0; i < buttons.length; i++) {
				buttons[i].className = 'answer-active'
				buttons[i].setAttribute('type', 'submit')
			}
		}

		setInterval(() => {
			let time = parseInt(document.getElementById("timer").textContent) - 1;
			document.getElementById("timer").innerHTML = time;


			if (time == 0) {
				document.getElementById("timer").innerHTML = 10;
				if (timer_answer == 0) {
					buttonsBlock();
					timer_answer = 1
					console.log(timer_answer + "question")
				}
				else {
					buttonsActive();
					timer_answer = 0
					console.log(timer_answer + 'answer')
				}
			}
		}, 1000);
	</script>
</body>

</html>